In [1]:
import pandas as pd

In [6]:
url = './../../../Downloads/MOCK_DATA.csv'
data = pd.read_csv(url)
data

,id,first_name,last_name,email,gender,ip_address
0,1,Waylin,Duiged,wduiged0@yale.edu,Male,172.50.76.39
1,2,Romy,Dovington,rdovington1@sphinn.com,Female,86.179.109.1
2,3,Zachary,Blackney,zblackney2@mapquest.com,Male,18.232.244.149
3,4,Bastien,Eccleshall,beccleshall3@arstechnica.com,Male,143.36.124.102
4,5,Wynn,Wines,wwines4@mail.ru,Male,117.25.45.154
...,...,...,...,...,...,...
995,996,Jdavie,Dutton,jduttonrn@aboutads.info,Male,202.145.3.201
996,997,Dona,Tomankiewicz,dtomankiewiczro@mapy.cz,Female,130.126.12.148
997,998,Sven,Bottinelli,sbottinellirp@census.gov,Male,37.231.229.168
998,999,Charlot,Luckie,cluckierq@hibu.com,Female,58.59.141.255
999,1000,Milly,Clacey,mclaceyrr@state.gov,Female,7.121.42.90